* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-pink: rgb(186, 66, 112);
	--primary-white: rgb(251, 252, 254);

	--secondary-blue: rgb(54, 83, 107);
	--secondary-mirage-blue: rgb(27, 38, 47);
	--secondary-charm-pink: rgb(218, 109, 151);
	--secondary-light-san-jan-blue: rgb(108, 130, 148);
	--hgroup-weight: 400px;
	--h-font: DM Serif Display;
	--body-font: Public Sans;

	--h1-large-size: 72px;
	--h1-large-line: 72px;

	--h1-small-size: 56px;
	--h1-small-line: 56px;

	--h2-size: 48px;
	--h2-line: 56px;

	--h3-big-size: 32px;
	--h3-big-line: 40px;

	--h3-small-size: 18px;
	--h3-small-line: 25px;

	--h4-size: 24px;
	--h4-size: 32px;

	--body-size: 15px;
	--body-line: 28px;
}

body {
	background-color: #edf3f8;
}

/************************** navbar *******************************/

header {
	padding: 40px 20px 10px 20px;
	background-color: #c2d0da;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav {
	display: none;
}

.nav-boutton {
	display: none;
}

/**************************  section *******************************/

section {
	padding: 25px;
}

/**************************  partie 1 *******************************/

h1 {
	text-align: center;
	font-size: var(--h2-size);
	color: var(--secondary-blue);
}

/**************************  partie 2 *******************************/

form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 14px;
	color: #7f8fa4;
	margin-bottom: 5px;
}

input {
	border: none;
	border-bottom: 1px solid #c4d2e0;
	background: transparent;
	outline: none;
	padding: 8px 0;
	margin-bottom: 20px;
	font-size: 14px;
	color: #4a4a4a;
}

::placeholder {
	padding-left: 20px;
}

#message {
	padding-bottom: 80px;
}

button {
	padding: 10px 35px 10px 35px;
	border-radius: 20px;
	border: 1px solid var(--secondary-blue);
	background-color: #edf3f8;
	color: var(--secondary-blue);
	font-weight: bold;
}

button:hover {
	background-color: var(--secondary-blue);
	color: var(--primary-white);
}

#cb1 {
	accent-color: var(--primary-pink);
}

/**************************  logo *******************************/

.logo h2 {
	text-align: center;
	color: var(--secondary-light-san-jan-blue);
	font-size: var(--h3-big-line);
}

.entreprise {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

.entreprise-partie {
	gap: 30px;
}


/**************************  input *******************************/

.partie5 h2 {
	color: var(--secondary-blue);
	text-align: center;
	font-size: var(--h3-big-line);
}

.partie5 form .mail {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.partie5 input {
	border-radius: 100px;
	border: none;
	padding: 20px;
	outline: none;
	box-shadow: 5px 5px 10px #ccc;
}

.partie5 section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.partie5 form button {
	border-radius: 100px;
	padding: 20px;
	background-color: var(--primary-pink);
	color: #fbfcfe;
	border: none;
}

.partie5 button:hover {
	background-color: var(--secondary-charm-pink);
}

.partie5 form {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

/**************************  footer *******************************/

footer {
	background-color: #1b262f;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
}

footer nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer li {
	list-style: none;
	padding: 15px;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: var(--secondary-light-san-jan-blue);
	cursor: pointer;
}

footer a:hover {
	color: var(--primary-white);
}

.icon-reseaux {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding-top: 20px;
}

@media screen and (min-width: 570px) {
	/**************************  partie 1 *******************************/
	

	/**************************  partie 2 *******************************/

	form {
		padding: 10px 130px 0px 130px;
	}

	/**************************  footer *******************************/
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	footer nav {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	footer nav {
		display: flex;
		flex-direction: row;
	}
	.nav2 {
		display: flex;
		flex-direction: row;
	}
}

@media screen and (min-width: 1080px){

	/**************************  partie 2 *******************************/
}